/* theme: dark */
$DARK_COLOR: #00000066;
$LIGHT_TEXT: #dedede;

.footer {
  color: white;
}

#nav {
  background-color: #232323 !important;
}

#nav .t-en {
  color: #dedede !important;
}

a {
  color: #93bf97 !important;
}

div#article-list {
  background-color: $DARK_COLOR !important;
}

span.nv:hover {
  background-color: #2d2d2d;
}

textarea {
  color: #dedede;
}

input {
  background-color: $DARK_COLOR !important;
  color: white !important;
}

pre, code {
  color: #ccaeae !important;
  background: #212121 !important;
}

a:hover {
  color: white !important;
}

blockquote {
  background: #4661614a !important;
}

div.fix-button {
  background: #000000a6 !important;
}

#edit-place {
  background-color: $DARK_COLOR !important;
  color: $LIGHT_TEXT;
}

input::-webkit-input-placeholder {
  color: grey;
}

div.detail {
  background: $DARK_COLOR;
  color: $LIGHT_TEXT;
}

body {
  background: #484848;
}

.calendar {
  background: $DARK_COLOR !important;
  color: white !important;
}
.day-box {
  border: transparent !important;
  color: white;
}

.to-day {
  background:  #464646 !important;
}

.bold-day {
  background: black !important;
}
