/* theme: dark */
body {
  background-color: #434343 !important;
}

.footer {
  color: white;
}

.detail, #preview-place {
  background-color: #323232 !important;
  color: #dedede;
}

#nav {
  background-color: #232323 !important;
}

#nav .t-en {
  color: #dedede !important;
}

a {
  color: #93bf97 !important;
}

div#article-list {
  background-color: #323232 !important;
}

span.nv:hover {
  background-color: #2d2d2d;
}

textarea {
  background-color: #323232;
  color: #dedede;
}

input {
  background-color: #323232;
  color: #fdfdfd;
}

pre, code {
  color: #ccaeae !important;
  background: #212121 !important;
}

a:hover {
  color: white !important;
}

blockquote {
  background: #4661614a !important;
}

div#fix-button {
  background: #000000a6 !important;
}
